<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pkb149.SVT">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.pkb149.SVT.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pkb149.SVT.LoginActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name="com.pkb149.SVT.SignupActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name="com.pkb149.SVT.ForgotPasswordActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name="com.pkb149.SVT.WaitForOTPActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name="com.pkb149.SVT.resetPasswordActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name="com.pkb149.SVT.ChooseTruck"
            android:theme="@style/AppTheme.Light" />
        <activity android:name="com.pkb149.SVT.PreBookActivity"
            android:theme="@style/AppTheme.Light"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_android_map_api_key"/>

    </application>

</manifest>